@import "../../../scss/index.scss";

.admin-siderbar {
  position: fixed;
  left: 0;
  top: 65px;
  height: 100vh;
  overflow: auto;

  background-color: #302927;
  .ant-menu-light {
    background-color: #302927;
    display: inline;
  }
  .ant-menu-item {
    background-color: #302927;
    color: white;
  }
  .ant-menu-item:hover {
    background-color: #dddada;
    color: black;
  }

  .ant-menu-item-selected.customclass {
    background-color: #dddada;
    color: black;
  }
}
