@import "../../../../scss/index.scss";
.product-list {
  &__header {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &-switch {
      display: block;
      &__search-content {
        margin-left: 50px !important;
      }
    }

    &___button_content {
      background-color: red;
      width: 50%;
      > button {
        margin-right: 20px;
      }
    }
  }

  .ant-input-search {
    margin-left: 10%;
    width: 90%;
  }

  .ant-input-search:hover {
    color: $primary-color !important;
  }

  .nt-input-search:active {
    color: $primary-color !important;
  }

  .products-active {
    background-color: #fff;
    padding: 10px 20px;

    .ant-list-item-meta {
      display: flex;
      align-items: center;
    }
  }
}
